<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/lib/cocos2d.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script data-main="javascripts/main.js" src="/javascripts/lib/require.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="canvas"></div>
  </body>
</html>
